
.contenedor{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('./img/Otralanding1.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
  
.contenedor h1{
  font-size: 67px;
  font-family:'Times New Roman', Times, serif ;
  /* text-align: center center; */
  color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 42%;
  left: 40%;
}

.contenedor p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  position: absolute;
  top: 45%;
  left: 40%;
}

.contenedor button{
  border: 1px solid;
  border-radius: 30px;
  /* display: inline-block; */
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid transparent;
  margin-top: 30px;
  transition: 0.5s;
}

.contenedor button:hover{
  background-color: burlywood;
  cursor:pointer;
}

.contenedor .login button{
  position: absolute;
  top: 0%;
  left: 85%
}
 .contenedor .register button{
  position: absolute;
  top: 0%;
  left: 90%;
 }

 .contenedor .guest button{
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 2%;
 }